@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c3c7d3;
  --foreground: #ffffff00;
  --scrool-bg: #9ca0aa;
  --primary: #f1862e;
  --hover: #e77b22;
  --color: #131313;
  --duration: 50s;
  --gap: 1rem;
  --tw-gradient-stops: var(--background), var(--foreground);
}

.dark {
  --background: #111111;
  --scrool-bg: #272727;
  --foreground: #ffffff00;
  --color: #ffffff;
  --tw-gradient-stops: var(--background), var(--foreground);
}

body {
  color: var(--color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: all 500ms ease-in-out;
}

@keyframes marquee {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(calc(-100% - var(--gap)))
  }
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite
}

::-webkit-scrollbar {
  width: 13px;

}
::-webkit-scrollbar-track {
  background-color: var(--scrool-bg);
}
::-webkit-scrollbar-thumb {
  border-radius: 35px;
  background-color: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover);
}