@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #f0f0f000;
  --color: #000000;
  --duration: 50s;
  --gap: 1rem;
  --tw-gradient-stops: var(--background), var(--foreground);
}

.dark {
  --background: #0f0f0f;
  --foreground: #17171700;
  --color: #ffffff;
  --tw-gradient-stops: var(--background), var(--foreground);
}

body {
  color: var(--color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: all 500ms ease-in-out;
}

@keyframes marquee {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(calc(-100% - var(--gap)))
  }
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite
}
