@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0c0c;
  --foreground: #17171700;
  --duration: 50s;
  --gap: 1rem;
  --tw-gradient-stops: var(--background), var(--foreground);
}

body {
  color: #ededed;
  background: #0c0c0c;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes marquee {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(calc(-100% - var(--gap)))
  }
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite
}
